*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: .2s ease-in-out;
    text-decoration: none;
    list-style-type: none;
}
body{
    padding-top: 40px;
}

img{
    object-fit: cover;
}